@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;

  /* horizontal axis */
  justify-content: center;

  /* vertical axis */
  align-items: center;

  background-color: rgb(37, 37, 37);
}

.button-container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  /*  We'll give the button a 3-D effect with the box-shadow property

      box-shadow parameters:
      . inset - causes the shadow to be on the inside of the object rather than the outside (if you had left it blank)
      . horizontal offset = 0 because we only want the shadow to be up and down
      . vertical offset = 20px; I tried other larger values which causes the gray shadow to show further down
      . blur = 4px; if you had nothing there it would just be a solid white line
      . spread = -19 determines how far out the shadow spreads.  If you have a negative, it will actually reduce the spread
           in fact, I accidentaly put 19 instead of -19, and the button looked gray instead of black
      . color = rgba(255,255,255, 0.7);

  */
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;

  /* outline: none normally gives you a blue outline if it had been clicked, so that's why we're choosing "none" */
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Barlow, sans-serif;
  font-size: 25px;
  color: white;

  /* the parameters for text shadow are similar to the ones for box-shadow
  horizontal was 0 again
  higher values for vertical offset cause it to drop lower and lower
  lower colors for blur cause it to be darker, and higher values cause it to be lighter

  */
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #696969, #575757);
  border: 2px solid #000;
  border-radius: 7px;
  /* We'll also include a box shadow on the bottom
      The reason we need to have a box shadow on the bottom is that when we press the button,
      we can cut these values in half, and give the illusion of the button being pressed.
  */
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0,0,0,0.3) ;
}

button:hover {
  background: linear-gradient(to bottom, #696969, #575757);
}

button:active {
  transform: translateY(3px);
   box-shadow: 0 6px 6px 0 rgba(0,0,0,0.3)
}
